@import 'wwwroot/css/variables';

.search-card {
    line-height: 1.1;
}

.search-card .search-description {
    color: $text-gray;
    font-size: 12px;
}

.search-image img {
    width: 100%;
}

.search-price-col {
    line-height: 1.3;
}

.search-card-price {
    font-size: 26px;
}