@using BlazorApp.Services
@using CMS.Ecommerce
@inject ICartService cartService

<div class="form-group">
    <h4>Models</h4>
    <select @onchange="OnVariantSelected" id="selected-variant" class="form-control">
        @foreach (SKUInfo variant in Variants)
        {
            <option value="@variant.SKUID">
                @variant.SKUName
                @cartService.FormatPriceForSelector(variant.SKUPrice, Currency, true)
            </option>
        }
    </select>
</div>

@code {
    [Parameter]
    public IEnumerable<SKUInfo> Variants { get; set; }
    [Parameter]
    public CurrencyInfo Currency { get; set; }
    [Parameter]
    public EventCallback<ChangeEventArgs> OnVariantSelected { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var firstVariant = Variants.FirstOrDefault().SKUID;
        OnVariantSelected.InvokeAsync(new ChangeEventArgs(){ Value = firstVariant });

    }
}