@import '../../variables';

.cross {
    font-size: 14px;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 34px;
    border-radius: 50%;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 17px;
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0;
}

.ribbon-top-right span {
    right: 17px;
    top: 17px;
}

.bbb_deals_featured {
    width: 100%;
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-top: 3px solid $text-orange;
    border-bottom: 3px solid $text-orange;
    background-color: $bg-lighter;
    margin-top: 0px;
    color: $text-gray;
}

.bbb_deals_title {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 18px;
    font-weight: 400;
    color: $text-orange;
}

.bbb_deals_slider_container {
    width: 100%;
}

.bbb_deals_item {
    width: 100% !important;
}

.bbb_deals_image {
    width: 100%;
    margin-bottom: 10px;
}

.bbb_deals_image img {
    width: 100%;
}

.bbb_deals_item_category a {
    font-size: 14px;
}

.item-list-price {
    font-size: 14px;
    font-weight: 300;
}

.bbb_deals_item_name {
    min-height: 60px;
}

.bbb_deals_item_name a {
    font-size: 18px;
    font-weight: 400;
    color: $text-orange !important;
}

.bbb_deals_item_price {
    font-size: 20px;
    font-weight: 500;
}

.available {
    margin-top: 19px;
}

.available_title {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
}

.available_title span {
    font-weight: 700;
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px;
    }

    .bbb_deals_slider_nav_container {
        right: 5px;
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px;
    }
}