@attribute [Route(Routes.Store)]
@attribute [Route(Routes.StoreWithCategory)]
@using BlazorApp.Components.Layout.ContentLayout
@using BlazorApp.Components.SearchResultCard
@using BlazorApp.Services
@using CMS.Base
@using CMS.Ecommerce
@using Kentico.Content.Web.Mvc
@using Models
@inject IPageRetriever pageRetriever
@inject ISearchService searchService
@inject IProductService productService
@inject ISiteService siteService

<ContentLayout>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <h3>@Header</h3>
            </div>
            <div class="col d-inline-flex my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" @onkeyup="KeyCheck" @bind="searchText" />
                <button class="btn btn-outline-secondary my-2 my-sm-0" @onclick="DoSearch">Search</button>
            </div>
        </div>
        <section class="py-5 container-fluid row justify-content-center">
            @foreach (var item in Items)
            {
                <SearchResultCard ProductViewModel=item />
            }
        </section>
    </div>
</ContentLayout>

@code {
    [Parameter]
    public string Category { get; set; }
    public string Header { get; set; }
    public string searchText;

    public IEnumerable<ProductViewModel> Items { get; set; } = new List<ProductViewModel>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DoSearch();
    }

    private void KeyCheck(KeyboardEventArgs e) {
        if(e.Key == "Enter") DoSearch();
    }

    private void DoSearch() {
        var extraCondition = "";
        if(!string.IsNullOrEmpty(Category)) {
            var department = DepartmentInfo.Provider.Get(Category, siteService.CurrentSite.SiteID);
            extraCondition = $"+skudepartmentid:(int){department.DepartmentID}";
        }

        var searchResultsModel = searchService.Search(searchText, 1, extraCondition);
        Items = searchResultsModel.Items.Select(i => productService.GetViewModel(i));
        if(string.IsNullOrEmpty(Category)) {
            Header = $"Search results for '{searchResultsModel.Query}' ({searchResultsModel.Items.Count()})";
        }
        else {
            Header = $"{Category} + '{searchResultsModel.Query}' ({searchResultsModel.Items.Count()})";
        }

        StateHasChanged();
    }
}