@import '../../../variables';

.cart-card {
    line-height: 1.1;
}

.cart-card .cart-description {
    color: $text-gray;
    font-size: 12px;
}

.cart-image img {
    width: 100%;
}

.cart-price-col {
    line-height: 1.3;
}

.cart-card-price {
    font-size: 26px;
}