@import 'variables';

html, body {
    background-color: #222 !important;
    color: $text-gray !important;
}

a{
    color: $text-gray !important;
}

a:hover {
    color: $text-orange !important;
}

h1, h2, h3, h4 {
    color: $text-orange !important;
}

input[type="text"] {
    background-color: #444444;
    border: 0px;
    color: #ddd;
}

button {
    border: 0px;
}

.product-detail-image img {
    width: 100%;
}

.product-detail-sidebar {
    background-color: #494949;
}

.product-detail-price {
    font-size: 32px;
    font-weight: bold;
}

.red-box {
    background-color: rgb(153, 47, 47);
    padding: 10px 30px;
    color: #333;
}