@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import 'variables';

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #222 !important;
}

a{
    color: $text-gray !important;
}

a:hover {
    color: $text-orange !important;
}

h1, h2, h3, h4 {
    color: $text-orange !important;
}

input[type="text"] {
    background-color: #444444;
    border: 0px;
    color: #ddd;
}