@attribute [Route(Routes.Home)]
@using BlazorApp.Components.Carousel
@using BlazorApp.Components.ProductCard
@using BlazorApp.Services
@using Kentico.Content.Web.Mvc
@inject IPageRetriever pageRetriever
@inject IPageUrlRetriever pageUrlRetriever
@inject IProductService productService

<Carousel />

<section class="py-5 container-fluid row justify-content-center">
    @foreach (var vm in productService.GetFeaturedProducts(6))
    {
        <ProductCard ProductViewModel=vm />
    }
</section>

@code {

}