@attribute [Route(Routes.Product)]
@using BlazorApp.Components.ContentLayout
@using BlazorApp.Services
@using CMS.DocumentEngine.Types.Blazor
@using Kentico.Content.Web.Mvc
@using Models
@inject IPageRetriever pageRetriever
@inject IProductService productService

<ContentLayout>
    <h3>@Model.Product.DocumentName (@Model.Product.NodeSKUID)</h3>
</ContentLayout>

@code {
    [Parameter]
    public string Alias { get; set; }

    public ProductViewModel Model {
        get {
            var page = pageRetriever.Retrieve<Product>(query => query
                                .WhereEquals("NodeAlias", Alias))
                                .FirstOrDefault();
            return productService.GetViewModel(page);
        }
    }
}