@using BlazorApp.Services
@using Models
@inject ICartService cartService
@inherits OptionSelectorComponent

<h4>@Category.CategoryLiveSiteDisplayName:</h4>
@foreach (OptionViewModel option in Options)
{
    if (option.CategoryName == Category.CategoryName)
    {
        <div class="form-group">
            <label for="text-@option.SKUID"></label>
            <input @onchange="eventArgs => OnOptionSelected.InvokeAsync((option, eventArgs.Value, Category))" type="text" class="form-control"
                id="text-@option.SKUID" name="text-@option.SKUID"
                placeholder="@cartService.FormatPriceForSelector(option.Adjustment, Currency)" value="@DefaultText(option)" />
        </div>
    }
}

@code {
    private string DefaultText(OptionViewModel option)
    {
        var text = Category.CategoryDefaultOptions;
        if (!string.IsNullOrEmpty(text))
        {
            option.Value = text;
            EventsToFire.Add(option);
        }

        return text;
    }
}