@attribute [Route(Routes.Address)]
@using BlazorApp.Components.Layout.CheckoutStep
@using BlazorApp.Services
@inject IProductService productService

<CheckoutStep>
    <h1>Address</h1>
</CheckoutStep>