@attribute [Route(Routes.Payment)]
@using BlazorApp.Components.Ecommerce.CheckoutStepControl
@using BlazorApp.Components.Layout.ContentLayout
@using BlazorApp.Services
@inject IProductService productService

<ContentLayout>
    <h1>Payment</h1>
    <CheckoutStepControl />
</ContentLayout>