@attribute [Route(Routes.Payment)]
@using BlazorApp.Components.Layout.CheckoutStep
@using BlazorApp.Services
@inject IProductService productService

<CheckoutStep>
    <h1>Payment</h1>
</CheckoutStep>